@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --mono: "Oxygen mono", monospace;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --ff-design: "Satisfy", cursive;
  --ff-brand: "Margarine", cursive;

  /* Colors */
  --clr-white: #fff;
  --clr-dark: #333;
  --clr-grey-1: #102a42;
  --clr-grey-2: #617d98;
  --clr-grey-3: #f1f5f8;
  --clr-primary: #ff007f;
  --clr-primary-light: #f7778b;
}
body {
  min-height: 100vh;
}
body {
  --space: 0.75rem;

  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--space);
  width: 100%;
  font-family: "Corben", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.img_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space);
}
.img_title_container h3 {
  font-size: 2rem;
  color: var(--clr-primary);
  font-family: var(--mono);
}
.marquee {
  --duration: 60s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}
.marquee_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}
.marquee_group p {
  font-family: var(--ff-design);
}
@media (prefers-reduced-motion: reduce) {
  .marquee_group {
    animation-play-state: paused;
  }
}
.marquee_group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}
.marquee--borders {
  border-block: 1px solid red;
  padding-block: 0.75rem;
}
.marquee--reverse .marquee_group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
