@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
body {
  --space: 2rem;

  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--space);
  width: 100%;
  font-family: "Corben", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.marquee {
  --duration: 60s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}
.marquee_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .marquee_group {
    animation-play-state: paused;
  }
}
.marquee_group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}
.marquee--borders {
  border-block: 1px solid red;
  padding-block: 0.75rem;
}
.marquee--reverse .marquee_group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
