@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --mono: "Oxygen mono", monospace;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --ff-design: "Satisfy", cursive;
  --ff-brand: "Margarine", cursive;

  /* Colors */
  --clr-white: #fff;
  --clr-dark: #333;
  --clr-grey-1: #102a42;
  --clr-grey-2: #617d98;
  --clr-grey-3: #f1f5f8;
  --clr-primary: #ff007f;
  --clr-primary-light: #f7778b;
}
body {
  min-height: 100vh;
}
body {
  --space: 0.55rem;

  overflow: hidden;
}
.clearfix::after,
::before {
  content: "";
  display: table;
  clear: both;
}
.section-center {
  padding: 0;
  width: 100vw;
  margin: 0 auto;
  max-width: 1370px;
}
nav {
  background-color: #37ff8b;
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}
nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-family: var(--ff-mono);
}
a.active,
a:hover {
  background: #f7778b;
  transition: 0.5s;
}
.img_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space);
}
.img_title_container h3 {
  font-size: 2rem;
  color: var(--clr-primary);
  font-family: var(--mono);
}
.marquee {
  --duration: 60s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}
.marquee_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}
.marquee_group p {
  font-family: var(--ff-design);
  color: var(--clr-grey-2);
}
@media (prefers-reduced-motion: reduce) {
  .marquee_group {
    animation-play-state: paused;
  }
}
.marquee_group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}
.marquee--borders {
  padding-block: 0.5rem;
}
.marquee--reverse .marquee_group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
}
/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(8, 4, 4, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 1rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
