*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --ff-design: "Satisfy", cursive;
  --ff-brand: "Margarine", cursive;
  --mono: "Oxygen mono", monospace;

  /* Colors */
  --clr-white: #fff;
  --clr-dark: #333;
  --clr-grey-1: #102a42;
  --clr-grey-2: #617d98;
  --clr-grey-3: #f1f5f8;
  --clr-primary: #ff007f;
  --clr-primary-light: #f7778b;

  --clr-secondary: #e9b949;

  --transition: all 0.3s linear;
}
